<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Our Service </title>
    </head>
    <body>
        <header>
            <nav>
                <a href="home.html"> Home</a>
                <a href="about.html"> About Us</a>
                <a href="#service"> Service</a>
                <a href="contact.html"> Contact</a>
            </nav>
        </header>
        <h1><u> CHAPTER ONE HTML5 BASIC TAGS </u></h1>
        <h5> 1<sub>year</sub> ago</h5>
        <h6> 3<sup>2</sup> x4 = 36</h6>
        <hr>
        <h2><u><mark>HTML5 Overview</mark></u></h2>
        <p>
        <b><em><u>HTML5</u></em></b>  is the latest version of <span style="color: blue;"> the web’s core language, </span>
        designed <em style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">to improve</em> structure, performance, and accessibility.
        <br>It introduces native support for multimedia, reducing reliance 
        on <strong>third-party</strong> plugins. <i>New</i> semantic elements like header,
        <br>title, and section make web pages more readable and easier to navigate.
        </p>
        <hr>
        <h3><u><mark>Graphics and Performance</mark></u></h3>
       <details>
        <summary>
            <b>Click here to Read More</b>
        </summary>
        <ul>
            <li>With built-in support for graphics and animations, </li>
            <li><abbr title="Hypertext Markup Language">HTML5</abbr> enhances interactivity through features like the</li>
            <li>canvas element and scalable vector graphics. It also</li> 
            <li>improves web application performance with local storage,</li>
            <li>reducing server requests and enabling offline capabilities.</li>
        </ul>
       </details>
       <h4><mark><u>Mobile and Speed Optimization</u></mark></h4>
       <details>
        <summary>
            <b> Click here to Read More</b>
        </summary>
        <ol>
            <li>HTML5 optimizes mobile web experiences by supporting </li>
            <li>responsive design, ensuring compatibility across devices.</li>
            <li>It enhances speed with asynchronous script loading, better</li>
            <li>caching, and improved rendering, making modern web</li> 
            <li>applications more efficient and user-friendly.</li>
       </ol>
       </details>
       <br>
       <hr>
       <footer>
        <nav>
            <a href="home.html"> Home</a>
            <a href="about.html"> About Us</a>
            <a href="#service"> Service</a>
            <a href="contact.html"> Contact</a>
        </nav>
           &copy; 2025 Natnael Yohannes | All Rights Reserved
       </footer>
    </body>
</html>